.search-bar{
    display: flex;
    padding: 16px;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
}

.search-field{
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1;
}

.search-bar .sb-item{
    padding: 16px;
    border-radius: 16px;
    position: relative;
}

.sb-item img{
    width: 24px;
    height: 24px;
}

.sb-item input{
    border: none;
    width: 100%;
}

.sb-item input::placeholder{
    color: black;
}