@import url('../common/font.css');
@import url('../common/color.css');
@import url('../common/navbar.css');
@import url('../product/products.css');
@import url('../common/common.css');

@import url('./hero.css');
@import url('./searchbar.css');
@import url('./shorcut.css');
@import url('./voucher.css');
@import url(./continue.css);
@import url(./category.css);
@import url('../vouchers/style.css');

.welcome{
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 24px 16px 16px 16px;
}

.active-dot{
  width: 13px;
  height: 13px;
  border-radius: 100%;
  position: absolute;
  top: 18px;
  left: 30px;
}

.more{
    display: flex;
    align-items: center;
    height: 100%;
}

