.bg-main-green{
    background-color: #599240;
}

.bg-black{
    background-color: #292C2B;
}

.bg-grey{
    background-color: #F2F2F2;
}

.bg-white{
    background-color: #FFFFFF;
}

.bg-orange{
    background-color: #F79F40;
}

.text-gray-50{
    color: #AFAFAF;
}

.text-white{
    color: white;
}

.bg-cream-1{
    background-color: #F3EBE2;
}

.bg-cream-2{
    background-color: #D5C9B1;
}

.bg-cream-3{
    background-color: #CABFA8;
}