* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  width: 100%;
}

.desktop-block {
  display: none;
  text-align: center;
  padding: 50px;
  font-size: 20px;
  background-color: #f8d7da;
  color: #721c24;
  width: 100%;
}

body.desktop .desktop-block {
  display: block;
}

body {
  font-family: 'Helvetica Neue';
  font-weight: 400; 
  height: 100%;
  width: 100%;
  position: relative;
}

.wrap{
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding-bottom: 80px;
}

.top-header{
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.logo{
  display: flex;
  gap: 10px;
  align-items: center;
}

.title{
    display: flex;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
}

.title .text{
    display: flex;
    gap: 8px;
    align-items: center;
}

.back-button{
    padding: 16px 22px;
    position: fixed;
    border-radius: 16px;
    bottom: 100px;
    right: 20px;
    text-decoration: none;
    box-shadow: 7px -8px 27px -6px rgba(0,0,0,0.24);
    -webkit-box-shadow: 7px -8px 27px -6px rgba(0,0,0,0.24);
    -moz-box-shadow: 7px -8px 27px -6px rgba(0,0,0,0.24);
}

.p16{
  padding: 16px;
}

.fade{
  opacity: 0.6;
}